@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.bueno-para-el,
.nuestros-productos-ms {
  /* align-self: stretch;
  position: relative; */
  font-size: var(--heading-2-size);
  font-family: var(--heading-1);
  color: var(--white);
  margin-bottom: 12px;
  text-align: center;
}

.bueno-para-el {
  color: var(--grey-100);
  font-family: var(--body-normal-semibold);
  font-size: var(--body-large-semibold-size);
  line-height: 28px;
}

.card-title {
  color: var(--white);
  font-size: var(--body-large-semibold-size);
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  line-height: 28px;
  margin-bottom: 8px;
}

.card-image {
  height: 312px;
  object-fit: cover;
  width: 100%;
}

.price-before {
  color: var(--grey-50);
  font-family: var(--body-normal-semibold);
  font-size: var(--body-normal-semibold-size);
  font-weight: 600;
  line-height: 24px;
  position: relative;
  text-decoration: line-through;
}

.price-now {
  color: var(--grey-50);
  font-size: var(--body-normal-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--body-normal-semibold);
}

.card-product {
  border-radius: var(--br-5xs);
  gap: var(--gap-5xs);
  list-style: none;
}

.card-list {
  display: grid;
  gap: var(--gap-5xl);
  grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );

  margin-top: 60px;
}

.section-most-wanted {
  background-color: var(--primary);
  gap: var(--gap-21xl);
  padding: var(--padding-61xl) var(--padding-41xl);
}

.section-why-us-child {
  width: 161px;
  position: absolute;
  margin: 0 !important;
  top: 125.8px;
  left: 367.5px;
  border-radius: var(--br-21xl);
  background-color: var(--secondary);
  height: 56px;
  transform: rotate(-15deg);
  transform-origin: 0 0;
  z-index: 0;
}
.section-why-us-title {
  color: var(--primary);
  font-family: var(--heading-1);
  font-size: var(--heading-2-size);
  margin-bottom: 32px;
  position: relative; 
  text-align: center;
  z-index: 1;
}
.shipping-icon {
  width: 60px;
  position: relative;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.lorem-ipsum,
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  font-size: var(--body-large-semibold-size);
  line-height: 28px;
  font-family: var(--body-normal-semibold);
  text-align: left;
}
.lorem-ipsum {
  font-weight: 600;
  color: var(--grey-600);
}
.lorem-ipsum-dolor {
  color: var(--grey-500);
}

.card-why {
  border-radius: var(--br-5xs);
}

.section-why-us {
  background-color: var(--white);
  gap: var(--gap-21xl);
  padding: 120px var(--padding-41xl);
  position: relative;
}
.section-media-child {
  width: 330.4px;
  top: 132.2px;
  left: calc(50% - 13.4px);
  border-radius: var(--br-9xl);
  height: 182.4px;
  object-fit: contain;
  z-index: 0;
}

.section-why-us-list {
  display: grid;
  gap: var(--gap-21xl);
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.section-media-child,
.section-media-item,
.vector-icon {
  position: absolute;
  margin: 0 !important;
}
.section-media-item {
  width: 330.4px;
  top: 102.2px;
  left: calc(50% + 56.6px);
  border-radius: var(--br-9xl);
  height: 182.4px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon {
  width: 112px;
  top: 244px;
  left: 310px;
  height: 72px;
  object-fit: cover;
  z-index: 2;
}
.ellipse-div,
.section-media-inner {
  position: absolute;
  margin: 0 !important;
  background-color: var(--secondary);
}
.section-media-inner {
  width: 161px;
  top: 35.5px;
  left: 501.3px;
  border-radius: var(--br-21xl);
  height: 56px;
  transform: rotate(-33.2deg);
  transform-origin: 0 0;
  z-index: 3;
}
.ellipse-div {
  width: 363px;
  top: calc(50% - 288px);
  right: -153px;
  border-radius: 50%;
  height: 363px;
  z-index: 4;
}
.blank-line {
  margin: 0;
}
.text {
  flex: 1;
  position: relative;
  font-size: var(--heading-2-size);
  font-family: var(--heading-1);
  color: var(--primary);
  text-align: left;
}
.container7,
.section-media {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container7 {
  width: 260px;
  background-color: var(--secondary);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0 var(--padding-61xl) var(--padding-101xl);
  z-index: 5;
}

.section-media {
  background-color: var(--primary);
  overflow: hidden; 
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 var(--padding-41xl) 0 0;
}
.be-the-first,
.new-arrival {
  width: 596px;
  position: relative;
  font-size: var(--heading-3-size);
  display: inline-block;
  font-family: var(--heading-1);
  color: var(--grey-600);
  text-align: left;
}
.be-the-first {
  font-size: var(--body-normal-semibold-size);
  line-height: 24px;
  font-family: var(--body-normal-semibold);
  color: var(--grey-500);
}
.new-arrival-arrows {
 display: flex;
 justify-content: space-between;
}
.arrow-left-icon {
  width: 24px;
  position: relative;
  height: 24px;
  object-fit: cover;
}
.arrow {
  border-radius: var(--br-21xl);
  background-color: var(--grey-100);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.arrow1 {
  border-radius: var(--br-21xl);
  background-color: var(--secondary);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.lollygagger-recycled-lounge,
.rp699900 {
  width: 312px;
  position: relative;
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  text-align: center;
}
.lollygagger-recycled-lounge {
  font-size: var(--body-large-semibold-size);
  line-height: 28px;
  color: var(--grey-600);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rp699900 {
  font-size: var(--body-normal-semibold-size);
  line-height: 24px;
  color: var(--primary);
  display: inline-block;
  z-index: 2;
}
.card-product4,
.product-image-icon5 {
  border-radius: var(--br-5xs);
}
.card-product4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.product-image-icon5 {
  height: 312px;
  object-fit: cover;
  z-index: 0;
}
.nisswa-recycled-loveseat,
.rp999900 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-normal-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  color: var(--primary);
  text-align: center;
  z-index: 2;
}
.nisswa-recycled-loveseat {
  font-size: var(--body-large-semibold-size);
  line-height: 28px;
  color: var(--grey-600);
  z-index: 1;
}
.card-product9 {
  width: 312px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-5xs);
}
.product-list {
  display: grid;
  gap: var(--gap-5xs);
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
}
.placeholder {
  position: relative;
  font-size: var(--body-large-semibold-size);
  line-height: 28px;
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  color: var(--white);
  text-align: center;
}

.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--primary);
  width: 140px;
  border-radius: var(--br-21xl);
  display: none;
  flex-direction: row;
}
.button:hover {
  background-color: #89dc4d;
}
.section-new-arrival {
  background-color: var(--white);
  padding: var(--padding-61xl) var(--padding-41xl);
  gap: var(--gap-21xl);
}

.new-arrival-top {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.new-arrival-header {
  display: flex;
  flex-direction: column;
}

.e-mail {
  position: relative;
  font-size: var(--body-normal-semibold-size);
  line-height: 24px;
  font-family: var(--body-normal-semibold);
  color: var(--grey-500);
  text-align: left;
}

.read-more {
  background-color: var(--primary);
  border: 0;
  border-radius: var(--br-21xl);
  color: var(--white);
  cursor: pointer;
  font-size: var(--body-large-semibold-size);
  font-family: var(--body-normal-semibold);
  padding: var(--padding-xs) var(--padding-5xl);
  transition: background .2s ease-in-out;
}

.read-more:hover {
  background-color: var(--color-lightgreen);
}

.input {
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid var(--grey-200);
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-5xl);
}
.input:hover {
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}

.section-subscribe {
  background-image: url(/public/image-1004@2x.png);
  background-size: cover;
  background-color: var(--white);
  max-height: 400px;
  height: 100%;
  padding: 60px;
}
.card-subscribe {
  background: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl);
  max-width: 648px;
  width: 100%;
  gap: var(--gap-5xl);
}
.categories-title {
  color: var(--primary);
  font-size: 36px;
  font-family: var(--heading-1);
  margin-bottom: 32px;
  text-align: center;
}
.placeholder2 {
  position: relative;
  font-size: var(--body-small-regular-size);
  line-height: 20px;
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  color: var(--white);
  text-align: center;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--grey-600);
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.category-banner {
  width: 200px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  background-image: url(./public/category-banner@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.category-banner:hover {
  animation: 1s linear 1s 1 normal none shadow-pop-tr;
  opacity: 1;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--grey-600);
  position: absolute;
  top: 140px;
  left: 24px;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-category-highlight {
  background-color: var(--white);
  padding: var(--padding-61xl) var(--padding-41xl);
}

.category-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  gap: 16px
}

.category-banner1 {
  height: 200px;
  position: relative; 
  list-style: none;
}

.category-banner1:hover {
  animation: 1s ease 0s 1 normal none shadow-pop-tr;
  opacity: 1;
}

.image-banner {
  border-radius: var(--br-5xs);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.background-icon {
  width: 1440px;
  position: absolute;
  margin: 0 !important;
  top: 140px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 532px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.placeholder7,
.text1 {
  position: relative;
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  text-align: left;
}
.text1 {
  align-self: stretch;
  font-size: var(--body-large-semibold-size);
  line-height: 28px;
  color: var(--primary);
}
.placeholder7 {
  font-size: var(--body-normal-semibold-size);
  line-height: 24px;
  color: var(--grey-600);
}
.footer-link {
  flex-direction: row;
}
.footer-link,
.footer-link3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.menu-list {
  align-items: flex-start;
  list-style: none;
  flex-direction: column;
  gap: var(--gap-base);
}
.footer-link3 {
  flex-direction: row;
}
.placeholder19 {
  position: relative;
  font-size: var(--body-normal-semibold-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  color: var(--grey-600);
  white-space: pre-wrap;
  text-align: left;
}
.footer-menu {
  display: grid;
  gap: var(--gap-5xl);
  grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );

  z-index: 1;
}

.divider {
  border-top: 0;
  border-color: var(--grey-600);
  margin: 8px 0;
}
.text4 {
  font-size: var(--body-small-regular-size);
  line-height: 20px;
  font-family: var(--body-normal-semibold);
  color: var(--grey-600);
  text-align: center;
}
.social-media-icon {
  width: 40px;
  position: relative;
  border-radius: var(--br-81xl);
  height: 40px;
  object-fit: cover;
}
.social-media-icon:hover,
.social-media:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.logo-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.social-media-child {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.social-media {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--grey-600);
  width: 40px;
  position: relative;
  border-radius: var(--br-81xl);
  height: 40px;
}
.capa-2,
.elements,
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.capa-2,
.elements {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.capa-2 {
  height: 50%;
  width: 27%;
  top: 25%;
  right: 36%;
  bottom: 25%;
  left: 37%;
}
.social-media1 {
  width: 40px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--grey-600);
  height: 40px;
}
.social-media1:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.group-social {
  display: flex;
  flex-direction: row;
}
.group-social {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.badge {
  position: absolute;
  cursor: pointer;
  border: 0;
  background-color: var(--primary);
  width: 120px;
  height: 120px;
  left: 50%;
  top: 18px;
  transform: translateX(-50%);
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.15) inset,
    0-4px 4px rgba(0, 0, 0, 0.15) inset;
  border-radius: 50%;
  z-index: 100;
}
.footer {
  background-image: url(/public/background@2x.png);
  background-color: var(--grey-50);
  padding: 150px var(--padding-41xl) var(--padding-21xl);
  gap: var(--gap-5xl);
  position: relative;
  background-size: cover;
}
.vector-icon2 {
  width: 444px;
  position: relative;
  height: 60px;
  z-index: 2;
}
.section-commitment {
  background-image: url(/public/pexelstimdouglas6567651-1@2x.png);
  background-size: cover;
  padding: var(--padding-101xl) var(--padding-41xl);
  width: 100%;
  gap: 80px;
}

.section-commitment-text {
  font-family: var(--heading-1);
  font-size: var(--heading-4-size);
  color: var(--white);
  text-align: center;
}
.bamb-reutilizables {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-1-size);
  font-family: var(--heading-1);
  color: var(--grey-600);
  text-align: center;
}
.saborea-cada-bocado {
  font-size: var(--body-large-semibold-size);
  line-height: 28px;
  font-family: var(--body-normal-semibold);
  text-align: center;
}
.saborea-cada-bocado {
  align-self: stretch;
  color: var(--grey-500);
}
.placeholder22 {
  font-weight: 600;
  color: var(--white);
}
.placeholder22:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.container-icon,
.container14 {
  max-width: 720px;
  width: 100%;
}
.container14 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-61xl) var(--padding-21xl);
  gap: var(--gap-5xl);
}
.section-header {
  display: flex;

  background-color: var(--white);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container-icon {
    display: none;
  }
}

.envo-gratis-con {
  position: relative;
  line-height: 24px;
  font-size: var(--body-normal-semibold-size);
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  color: var(--white);
  text-align: center;
}
.sale-bar {
  border: 0;
  background-color: #41a383;
  cursor: pointer;
  color: var(--white);
  font-size: var(--body-normal-semibold-size);
  font-weight: 600;
  font-family: var(--body-normal-semibold);
  padding: var(--padding-base) var(--padding-101xl);
  text-align: center;
  width: 100%;
}
.sale-bar:hover {
  animation: 1s ease-out 0s 1 normal none shadow-inset-center;
  opacity: 1;
}

.logo{
  width: 95px;
  height: 48px;
  object-fit: cover;
}

.search-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.input-search {
  color: var(--grey-400);
  border: none;
  font-size: var(--body-normal-semibold-size);
  font-family: var(--body-normal-semibold);
  outline: none;
  width: 100%;
}
.search-bar {
  align-items: center;
  display: flex;
  gap: var(--gap-5xs);

  border-radius: var(--br-21xl);
  border: 1px solid var(--grey-200);
  max-width: 880px;
  padding: var(--padding-5xs) var(--padding-base);
  width: 100%;
}

.bag-icon,
.profile-icon {
  width: 32px;
  height: 32px;
}

.navigation-options {
  display: flex;
  gap: var(--gap-base);
}
.navigation-bar-top {
  align-items: center;
  display: flex;
  align-self: stretch;
  background-color: var(--white);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-41xl);
  gap: var(--gap-base);
}
.menu-item-bar {
  color: var(--grey-600);
  font-size: var(--body-normal-semibold-size);
  font-weight: 600;
  font-family: var(--body-normal-semibold);
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.menu-bar {
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--primary);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-101xl);
  gap: var(--gap-5xs);
}
.navigation-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chat-bubble {
  border: none;
  border-radius: var(--br-base) var(--br-base) 0 var(--br-base);
  cursor: pointer;
  position: fixed;
  right: 10;
  bottom: 60;
  background-color: var(--primary);
  width: 60px;
  height: 60px;
  z-index: 100;
}

.chat-bubble-icon {
  width: 50%;
}
.home {
  background-color: var(--grey-50);
}

@media screen and (max-width: 960px) {}
@media screen and (max-width: 420px) {
  .vector-icon3 {
    display: flex;
  }
}
